<html>
  <head>
    <title>User Profile</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/static/profile.css" rel="stylesheet">
  </head>
  <body>
    <header>
    </header>
    <main role="main">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption">
                <h1>Nama</h1>
                <p>Sponsor</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Email</h2>
            <p>bram@ui.com</p>
          </div>
          <div class="col-lg-4">
            <h2>Alamat</h2>
            <h5>Kecamatan</h5>
            <p>asdasd</p>
            <h5>Kabupaten</h5>
            <p>asdasd</p>
            <h5>Provinsi</h5>
            <p>asdasd</p>
            <h5>Kode Pos</h5>
            <p>asdasd</p>
            <h5>Jalan/Desa/Kelurahan/No.Rumah</h5>
            <p>asdasd</p>
          </div>
          <div class="col-lg-4">
            <h2>Logo</h2>
            <p>bram@ui.com</p>
          </div>
          <div class="col-lg-4">
            <h2>Saldo</h2>
            <p>12345</p>
          </div>
        </div>
      </div>
    </main>
</body>
</html>
