<!--Created by Arga G. A.-->
<!--html template for register sponsor page-->
{% block body %}
    {% if session['logged_in'] %}
        <p>You're logged in already!</p>
        <script>
            window.open("/", "_self");
        </script>
    {% else %}
        <!doctype html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            {#<link rel="icon" href="../../../../favicon.ico">#}

            <title>Register Sponsor - SION</title>

            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
                  integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
                  crossorigin="anonymous">

            <!-- Custom styles for this template -->
            <link href="{{ url_for('static', filename='css/form-validation.css')|autoversion }}" rel="stylesheet">
        </head>

        <body class="bg-light">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">SION</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/register">Register</a>
                <a class="p-2 text-dark" href="/">Home</a>
            </nav>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="user-exist" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        {#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                        <h4 class="modal-title" style="padding-left: auto; padding-right: auto">Pendaftaran sponsor
                            tidak
                            berhasil!</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-warning">Email yang anda masukkan sudah terdaftar dalam sistem! Silahkan coba
                            kembali.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="py-5 text-center">
                <h2>Register Sponsor</h2>
                {#<p class="lead"></p>#}
            </div>

            <div class="row">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Form Pendaftaran Sponsor</h4>
                    <form class="needs-validation" novalidate action="/register-sponsor" method="POST">
                        <div class="mb-3">
                            <label for="name">Nama Sponsor</label>
                            <input name="nama" type="text" class="form-control" id="name" placeholder="" value=""
                                   required>
                            <div class="invalid-feedback">
                                Valid sponsor name is required.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" id="email"
                                   placeholder="you@example.com" required>
                            <div class="invalid-feedback">
                                Valid email is required.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" id="password"
                                   placeholder="Password" data-toggle="popover" title="Password Info" data-content=""
                                   required>
                            <div class="invalid-feedback">
                                Valid password is required.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Kecamatan</label>
                            <input name="kecamatan" type="text" class="form-control" id="kecamatan" placeholder=""
                                   required>
                            <div class="invalid-feedback">
                                Silahkan masukkan kecamatan alamat anda.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Kabupaten</label>
                            <input name="kabupaten" type="text" class="form-control" id="kabupaten" placeholder=""
                                   required>
                            <div class="invalid-feedback">
                                Silahkan masukkan kabupaten alamat anda.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Provinsi</label>
                            <input name="provinsi" type="text" class="form-control" id="provinsi" placeholder=""
                                   required>
                            <div class="invalid-feedback">
                                Silahkan masukkan provinsi alamat anda.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Kode Pos</label>
                            <input name="kode-pos" type="text" class="form-control" id="kode-pos" placeholder=""
                                   required>
                            <div class="invalid-feedback">
                                Silahkan masukkan kode pos alamat anda.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Jalan/Desa/Kelurahan/No.Rumah</label>
                            <input name="jalan" type="text" class="form-control" id="jalan" placeholder="" required>
                            <div class="invalid-feedback">
                                Silahkan masukkan jalan alamat anda.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="logo-picture">Logo</label>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input type="file" id="file" class="custom-file-input" required>
                                    <span class="custom-file-control"></span>
                                    <input name="logo" class="form-control" type="url" value=""
                                           id="url-input" placeholder="https://img.com/sion" required>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                    </form>
                </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1"><a href="/">SION</a> by <a href="https://gitlab.com/KelompokE1Basdat2018/SION-FLASK">E1BASDAT18</a>
                    © 2018</p>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script\n' +
            '  src="https://code.jquery.com/jquery-3.3.1.js"\n' +
            '  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="\n' +
            '  crossorigin="anonymous"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();

            $(document).ready(function () {
                $('input[type=password]').keyup(function () {
                    var pswd = $(this).val();
                    console.log(pswd);
                    //validate letter
                    if (pswd.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/
                    )) {
                        $('input[type=password]').attr('data-content', 'Valid Password').removeClass('bg-danger').removeClass('text-white').popover('show');
                        console.log('valid');
                    } else {
                        $('input[type=password]').attr('data-content', 'Invalid Password: Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.'
                        ).addClass('bg-danger').addClass('text-white').popover('show');
                        console.log('invalid');
                    }
                })
            });

            $("document").ready(function () {

                //modified code from https://ctrlq.org/code/20526-javascript-image-uploader
                $('input[type=file]').on("change", function () {

                    var $files = $(this).get(0).files;

                    if ($files.length) {

                        // Reject big files
                        if ($files[0].size > $(this).data("max-size") * 1024) {
                            console.log("Please select a smaller file");
                            return false;
                        }

                        // Begin file upload
                        console.log("Uploading file to Imgur..");

                        var apiUrl = 'https://api.imgur.com/3/image';
                        var apiKey = '6341af7247054c3';

                        var settings = {
                            async: false,
                            crossDomain: true,
                            processData: false,
                            contentType: false,
                            type: 'POST',
                            url: apiUrl,
                            headers: {
                                Authorization: 'Client-ID ' + apiKey,
                                Accept: 'application/json'
                            },
                            mimeType: 'multipart/form-data'
                        };

                        var formData = new FormData();
                        formData.append("image", $files[0]);
                        settings.data = formData;

                        // Response contains stringified JSON
                        // Image URL available at response.data.link
                        var imgId;
                        $.ajax(settings).done(function (response) {
                            imgId = $.parseJSON(response).data.id;
                            console.log(imgId);
                        });

                        $.ajax({
                            url: "https://api.imgur.com/3/image/" + imgId, headers: {
                                Authorization: 'Client-ID ' + apiKey,
                                Accept: 'application/json'
                            }, success: function (result) {
                                imgLink = result.data.link;
                                $("#url-input").val(imgLink);
                                console.log(imgLink);
                            }
                        });
                    }
                });
            });


            {% if exist %}
                $('#user-exist').modal({show: true});
                console.log("User exist!");
            {% elif not wrongInput %}
                $('#user-exist').modal({show: false});
            {% endif %}
        </script>
        </body>
        </html>
    {% endif %}
{% endblock %}